* {
    padding: 0%;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0px auto 0px auto;
}


.container1 {
    width: 90%;
    margin: 0 auto 0 auto;
}
.nav-bar {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}
.head-main {
    display: flex;
    gap: 80px;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    
}
.sub-head {
    display: flex;
    gap: 30px;
}
.sub-head a {
    text-decoration: none;
    color: black;
}
.container2 {
    width: 100%;
    height: 500px;
    position: relative;
}
.container2 .hero {
    width: 100%;
    height: 500px;
    object-fit: cover;
}


.head {
    text-align: center;
    font-size: 48px;
    margin: 30px 0;
}

.flex-travel {
    display: flex;
    gap: 40px;
    border: 1px solid gray;
    padding: 20px;
    margin-bottom: 30px;
}

.flex-travel img {
    width: 350px;
    height: auto;
    box-shadow: 0px 10px 10px 0px rgb(0, 0, 0);
}

.head1 {
    font-size: 34px;
    margin-bottom: 40px;
}

.head2 {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 32px;
}

button {
    padding: 10px 20px;
    background-color: goldenrod;
    border: none;
    border-radius: 5px;
    letter-spacing: 5px;
}

.bg-foot {
     background-color: black;
    padding: 30px;
}
.foot-img {
    text-align: center;
}
.foot-head {
    color: white;
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}
.foot-head1 {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 15px;
}
.foot-icon  {
    text-align: center;
    margin: 20px 0px;
}
.foot-icon i {
    padding: 0 5px;
}


@media screen and (max-width:800px) {
    .flex-travel {
        flex-wrap: wrap;
    }

    .flex-travel img {
        width: 100%;

    }
}
 @media screen and (max-width:500px) {
    .head-main,.sub-head,.main-dis,.main-box,.trav-flex {
        flex-wrap: wrap;
    }
    .main-dis img, .trav-flex img {
        width: 100%;
    }
}  

 @media  (min-width:501px) and (max-width:1100px) {
  
    .head-main,.sub-head,.main-dis,.main-box,.trav-flex {
        flex-wrap: wrap;
    }
    .main-dis img, .trav-flex img {
        width: 100%;
    }
    
} 